<header class="text-gray-600 body-font bg-gray-100">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <%= render "components/stand" %>
      <span class="ml-3 text-xl">SundayStall</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">Favourites</a>
      <a class="mr-5 hover:text-gray-900">Purchases</a>
      <a class="mr-5 hover:text-gray-900">Messages</a>
      <a class="mr-5 hover:text-gray-900">Stall</a>
      <a class="mr-5 hover:text-gray-900">Profile</a>
    </nav>
    <button class="inline-flex items-center bg-blue-200 border-0 py-1 px-3 focus:outline-none hover:bg-blue-400 rounded text-base mt-4 md:mt-0">
      <% if current_user.nil? %>
        <%= link_to new_user_session_path do %>Sign In<% end %>
      <% else %>
        <%= button_to destroy_user_session_path, method: :delete do %>Log Out<% end %>
      <% end %>
      <% if can? :manage, User %>
        <%= button_to rails_admin_path, method: :get do %>Admin Dashboard<% end %>
      <% end %>
    </button>
  </div>
</header>
