<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.first_name %></h1>
    <p>
      We're so thrilled to have you on board (:
      <br><br>
      If there's anything we can help with, please let us know by replying directly to this email.
      <br><br>
      Thanks for joining and enjoy your stay!
      <br><br>
      - SundayStall
    </p>
  </body>
</html>