<main style="background-image: url(<%= image_url('jumbotron.jpg') %>); background-size: cover">
  <section class="h-auto mx-auto max-w-7xl px-4 pt-80 pb-80 mb-24">
    <div class="text-center">
      <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
        <span class="block xl:inline text-white">We bring </span>
        <span class="block text-indigo-600 xl:inline drop-shadow-xl">local markets</span>
        <span class="block xl:inline text-white">directly to you.</span>
      </h1>
      <p class="mt-3 max-w-md mx-auto text-base text-gray-200 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
        The finest bakers, painters, artisans and more - from your community.
      </p>
      <div class="mt-5 mx-auto md:mt-8 flex justify-center">
              <div class="lg:w-1/12 w- md:w-1/8 sm:w-1/4">
                <a href="#featured" class="flex items-center justify-center px-8 py-3text-base font-medium text-xl text-white hover:text-indigo-700 md:py-2 md:px-8">
                  <i class="far fa-arrow-down "></i>
                </a>
              </div>
      </div>
    </div>
  </section>
</main>
<a id="featured" class="relative -top-24"></a>
<section class="text-gray-600 body-font">
  <div class="container px-5 my-12 mx-auto">
    <div class="flex flex-wrap w-full mb-5">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Featured Stalls</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500 text-right">Everybody's been raving about these.</p>
    </div>
    <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-12">
      <div class="space-y-12">
        <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
          <% @stalls.sample(3).each do |stall| %>
            <%= render "components/stall", stall: stall %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container px-5 my-12 mx-auto">
    <div class="flex flex-wrap w-full mb-5">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Popular Products</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500 text-right">They're selling like hotcakes.</p>
    </div>
    <div class="flex flex-wrap -m-4">
          <% 8.times do %>
            <%= render "components/product" %>
          <% end %>
    </div>
  </div>
  <div class="bg-white">
  </div>
  <div class="w-1/2 m-10 max-w-md mx-auto flex justify-center">
    <div class="rounded-md shadow w-full">
      <a href="<%= stalls_path %>" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-2 md:text-lg md:px-8">
      <i class="far fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>