<div class="container px-5 my-12 mx-auto">
  <div class="flex flex-wrap -m-4">
    <% products.each do |product| %>
      <%= render "components/product", product: product %>
    <% end %>
  </div>
</div>
